@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

.title-sub {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

button {
  background:#ffffff;
  color:var(--fg);
  border:1px solid #334155;
  padding:10px 14px;
  border-radius:10px;
  cursor:pointer
}

input[type=text],input[type=password],input[type=email],input[type=url] {
  background:#ffffff;
  border:1px solid #1f2937;
  border-radius:10px;
  padding:10px 12px;
  color:var(--fg);
  outline:none
}